@import url(https://fonts.bunny.net/css?family=aclonica:400|arsenal:400);
body {
    font-family: 'Arsenal', sans-serif;
    display: flex;
    height: 100vh;
}
:root{
    --lighter-bg-color: #e0e1dd;
    --darker-bg-color: #778da9;
}

.sidebar {
    width: 30%;
    background-image: url(images/Backgroundphoto_sign_up.jpg);
    background-color: antiquewhite;
    font-family: 'Aclonica', sans-serif;
}
.main {
    width: 70%;
    display: flex;
    flex-direction: column; 
    /*margin-left: 20px;  */ 
    height: 100vh;
}

.header {
    background-color: var(--darker-bg-color);
    height: 17rem;
    padding-right: 50px;
}
.form {
    background-color: var(--lighter-bg-color);
    height: 100%;
    
}
.form >* {
    padding-left: 20px;
}

.main .header{
    padding-top: 100px;
    padding-left: 20px;
    
}
.icon_holder {
    display: flex;
    padding: 10px;
    background-color: var(--lighter-bg-color);
    opacity:0.6;
    position: relative;
    top: 10rem;
}

.icon {
    height: 5rem; 
    padding-right: 10px;   
}
.submit_btn {
    margin-top: 30px;
    padding: 5px;
    font-family: 'Arsenal', sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--darker-bg-color);
    color: white;  
    width: 120px;    
    align-items: center;
    justify-content: center;
      
}
button:hover {
    background: var(--lighter-bg-color);
    color: black;
}
a:link {
    color: purple;
}
.form_box {
    padding-top: 50px;
    
}
fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
}
fieldset>* {
    display: flex;
    padding: 10px 0;
}
.first_name, .last_name,
.email, .phone_number,
.password, .password_conf {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10px;
    padding-right: 20px;
}
input {
    border: 2px #E5E7EB;
    border-radius: 5px;
}
input:focus {
    box-shadow: 5px 5px 5px var(--darker-bg-color);
}
/*input:valid {
    border: solid 2px green;
    
}*/
input:invalid {
    border: solid 1px red;
}